<!-- container -->
<div class="container">
 
    <!-- show page header -->
    <div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
        </div>
    </div>
 
    <!-- Show this view if "show_read_policies_html" property of AppComponent is true. -->
    <app-read-policies
        *ngIf="show_read_policies_html">
    </app-read-policies>
 
</div>
<!-- /container -->